.footer {
    background: var(--bg-footer);
    padding: 4em 2em 3em;
    font-family: var(--font-body);
  }
  
  .footer p {
    margin: 0;
  }
  
  .logoImg {
    margin: 0 0 2em 0.5em;
  }
  
  .contact {
    display: flex;
    align-items: flex-start;
    column-gap: 1.5em;
    margin: 1.25em 0;
  }
  
  .footerIcon {
    height: 1em;
  }
  
  .addressTxt {
    font-size: 1.05em;
  }
  
  .contactTxt {
    font-size: 0.9em;
  }
  
  .footerContact {
    margin-bottom: 5em;
  }
  
  .footerLinks {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 3em;
  }
  
  .footerLinks > a:hover {
    font-weight: 700;
  }
  
  .footerLinks > a:active {
    color: var(--blue);
    transition: color 0.3s ease-in-out;
  }
  
  .footerSocials {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding: 1em 0 0;
    justify-content: center;
  }
  
  .social:hover {
    color: var(--cyan);
    transition: color 0.3s ease-in-out;
  }
  
  .social:active {
    color: var(--blue);
    transition: color 0.3s ease-in-out;
  }
  
  .error {
    color: var(--light-red);
    font-size: smaller;
    margin: 0;
  }
  @media screen and (width >= 680px) {
    .footer {
      display: grid;
      padding: 4em 4em 1em;
      column-gap: 1em;
      font-size: 0.85em;
    }
  
    .logoFooter {
      grid-area: 1 / 1 / 2 / 6;
    }
    .contact {
      margin: 0 0 1.25em;
    }
  
    .footerSocials {
      padding: 0;
      column-gap: 1.5em;
    }
  
    .social > svg {
      width: 1.25em;
      height: auto;
    }
  }

  @media screen and (width >= 1440px) {
    .footer {
      padding: 4em 8em 4em;
      column-gap: 8em;
      font-size: 1.1em;
    }
  }
  